.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

h3, ul, ol, i {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-style: inherit; }

.fl {
  float: left; }

.fr {
  float: right; }

header {
  width: 100%;
  height: 94px;
  border-bottom: 1px solid #ededed;
  line-height: 94px;
  text-align: center;
  font-size: 30px; }
  header a {
    margin-left: 20px;
    display: block;
    height: 30px;
    font-size: 30px; }

.select {
  width: 100%; }
  .select ul {
    width: 100%;
    height: 83px;
    line-height: 83px;
    overflow: hidden;
    background-color: white; }
    .select ul li {
      width: 33.3%;
      margin-top: 20px;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      text-align: center; }
    .select ul li.active {
      color: #3399cc;
      border: 1px solid #3399cc; }
    .select ul .subject {
      border-right: 1px solid #dcdcdc;
      border-left: 1px solid #dcdcdc; }
  .select ol {
    width: 100%; }
    .select ol li {
      width: 100%;
      display: none; }
      .select ol li div {
        width: 25%;
        height: 50px;
        overflow: hidden; }
        .select ol li div a {
          /*margin:0 auto;*/
          display: block;
          width: 100%;
          text-align: center;
          margin-top: 15px;
          border-right: 1px solid #ededed;
          color: grey; }
          .select ol li div a:hover {
            color: cyan; }
      .select ol li .four a {
        border-right: 0; }
    .select ol li.active {
      display: block; }

.chinese ul li {
  border: 1px #ededed solid;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
  padding-top: 20px; }
  .chinese ul li .img {
    height: 125px; }
    .chinese ul li .img a img {
      width: 50px;
      height: 50px; }
  .chinese ul li .mandarin {
    width: 11rem;
    margin-left: 10px; }
    .chinese ul li .mandarin .mandarin-head .language {
      margin-left: 10px;
      width: 40px;
      height: 20px;
      background-color: #ffbc3c;
      color: white;
      text-align: center;
      line-height: 20px;
      display: inline-block; }
    .chinese ul li .mandarin .mandarin-head .record {
      margin-left: 10px;
      width: 40px;
      height: 20px;
      background-color: #37bc9b;
      color: white;
      text-align: center;
      line-height: 20px;
      display: inline-block; }
    .chinese ul li .mandarin .mandarin-head span {
      margin-left: 16px;
      font-size: 20px; }
    .chinese ul li .mandarin p {
      color: #999; }
      .chinese ul li .mandarin p i {
        color: #999; }
    .chinese ul li .mandarin .course-teacher {
      color: #999; }
      .chinese ul li .mandarin .course-teacher i {
        color: #999; }
        .chinese ul li .mandarin .course-teacher i a {
          color: #333;
          background-color: transparent; }
        .chinese ul li .mandarin .course-teacher i em {
          font-style: normal;
          color: red; }
    .chinese ul li .mandarin .course-price {
      color: #e4393c;
      font-size: 20px;
      margin-bottom: 0; }
.chinese input[type=button] {
  width: 100%;
  height: 35px;
  outline-style: none;
  border: 0;
  margin: 10px auto;
  background-color: white; }

footer .login {
  height: 74px;
  width: 100%;
  border: 1px solid #ededed;
  line-height: 74px; }
  footer .login div a {
    margin: 0 0.416rem;
    font-size: 14px;
    color: #666; }
  footer .login div span {
    border-right: 2px solid #666; }
footer .usa {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #ededed; }
  footer .usa div {
    margin: 0 auto;
    margin-top: 30px; }
    footer .usa div span {
      display: block;
      text-align: center; }

.nav {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100;
  background-color: white;
  border: 1px solid lightgrey; }
  .nav ul {
    display: flex; }
    .nav ul li {
      width: 3.283rem;
      overflow: hidden; }
      .nav ul li a {
        display: block;
        width: 40px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto; }
        .nav ul li a img {
          width: 40px;
          height: 40px;
          background-size: 100% 100%;
          margin: 0 auto;
          line-height: 40px; }

/*# sourceMappingURL=course.css.map */
